<% for(i = 0; i < locals.images.length; i++) {%>
    <div class="recipeCard">
        <a href="">
            <img src="<%- images[i].image %>" alt="<%- images[i].title %>" height="270px">
            <p><%= images[i].title %></p>
            <p id="cooking-time"><%= images[i].readyInMinutes %> minutes</p>
            <p class="servings">servings: <%= images[i].servings %></p>        
        </a>
        <% var favIconClass = imgClass; 
        if(images[i].isFav) 
            favIconClass = "favouritesImg" %>
        <a class="<%- favIconClass %>" id="fav-icon" href="javascript:void(0)"><img id="<%- i %>" src="./images/fav.png" alt="fav-icon"></a>
    </div>
<% } %>